.search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }

  .search > input[type="text"]{
    width: 40%;
    min-width: 170px;
    outline: none;
    border: 2px solid black;
    font-size: 16px;
  }

  input[type=text]:focus {
    transition: ease-in 0.3s;
    border: 2px solid rgb(0, 110, 255);
    background-color: rgb(241, 238, 245);
  }
  
  input[type="submit"] {
    padding: 5px;
    background-color: rgb(244, 244, 124);
    color: black;
    border: 2px solid black;
    width: 80px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #282c34;
    color: antiquewhite;
  } 