.movies {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
}

.spinner {
    height: 80px;
    margin: 200px auto;
}

.errorMessage {
    margin: auto;
    font-weight: bold;
    color: rgb(161, 15, 15);
}

.beforeGif {
    margin: 20px auto;
    color: rgb(109, 95, 95);
    font-size: 20px;
}